packages: [
  "advanced-open-file"
  "atom-alignment"
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-syntax-light"
  "atom-material-ui"
  "atom-ternjs"
  "atom-transpose"
  "autocomplete-paths"
  "autocomplete-python"
  "base16-ocean-dark-spacegray"
  "busy-signal"
  "color-picker"
  "custom-title"
  "emmet"
  "ex-mode"
  "expand-region"
  "file-icons"
  "filesize"
  "git-clone"
  "git-plus"
  "git-time-machine"
  "golden-ratio"
  "intentions"
  "language-lisp"
  "language-swift"
  "linter"
  "linter-eslint"
  "linter-flake8"
  "linter-jshint"
  "linter-markdown"
  "linter-pylint"
  "linter-ui-default"
  "lodash-snippets"
  "markdown-scroll-sync"
  "markdown-table-formatter"
  "markdown-writer"
  "minimap"
  "open-in-browser"
  "open-recent"
  "package-sync"
  "pigments"
  "prettier-atom"
  "preview"
  "project-manager"
  "react"
  "recent-finder"
  "recent-projects"
  "regex-railroad-diagram"
  "relative-numbers"
  "set-syntax"
  "spacegray-dark-neue-ui"
  "spacegray-dark-ui"
  "symbols-tree-view"
  "tab-switcher"
  "turbo-javascript"
  "vim-mode-plus"
  "zc-morning-syntax"
  "Zen"
]
