/*
* Your Stylesheet
*
* This stylesheet is loaded when Atom starts up and is reloaded automatically
* when it is changed.
*
* If you are unfamiliar with LESS, you can read more about it here:
* http://www.lesscss.org
*/

atom-text-editor .indent-guide {
    color: #efefef;
}

// #linter-inline {
//     margin-top: 4px;
//     padding: 3px;
//     color: #000;
//     border-radius: 4.5px;
//     border-top-left-radius: 0;
//     background: #EFEFEF;
//     opacity: 0.9;
//     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
//     transition: opacity 300ms;
//     &::before {
//         content: "";
//         position: absolute;
//         top: -4px;
//         left: 0;
//         border: 4px solid;
//         border-color: transparent transparent #EFEFEF #EFEFEF;
//     }
// }

// atom-text-editor[data-grammar="source gfm"],
// atom-text-editor[data-grammar="source gfm"]::shadow {
//     font-family: Nitti;
//     line-height: 1.6;
// }
//
// atom-text-editor atom-text-editor-minimap::shadow .minimap-visible-area,
// atom-text-editor::shadow atom-text-editor-minimap::shadow .minimap-visible-area {
//     background-color: black;
//     opacity: .05;
// }
//
// atom-text-editor .vertical-scrollbar,
// atom-text-editor::shadow .vertical-scrollbar {
//     opacity: 0;
//     width: 0;
// }
//
// atom-text-editor atom-text-editor-minimap,
// atom-text-editor::shadow atom-text-editor-minimap {
//     background: transparent;
// }
//
// atom-text-editor atom-text-editor-minimap::shadow .minimap-scroll-indicator,
// atom-text-editor::shadow atom-text-editor-minimap::shadow .minimap-scroll-indicator {
//     background-color: rgb(100, 147, 200);
// }

atom-text-editor {
    text-rendering: optimizeLegibility;
    // font-weight: lighter;
}

// atom-text-editor::shadow .gutter {
//     background-color: transparent;
// }

// .markdown-preview.markdown-preview h1 + ul, h2 + ul, h3 + ul,
// h4 + ul, h5 + ul, h6 + ul {
//     margin-top: 24px;
// }
//
// .markdown-preview.markdown-preview ul > li {
//     display: list-item;
//     margin-top: 10px;
//     list-style-type: square;
//     text-align: -webkit-match-parent;
// }
//
// .markdown-preview.markdown-preview ul > li > ul > li {
//     list-style-type: disc;
//     text-align: -webkit-match-parent;
// }


// atom-text-editor::shadow .cursor {
//     border-color: red;
//     opacity: 0.6;
//     border-width: 2px;
// }

// atom-text-editor::shadow .line-number.cursor-line {
//   background-color: transparent;
// }

// atom-text-editor.vim-mode.normal-mode,
// atom-text-editor.vim-mode.operator-pending-mode,
// atom-text-editor.vim-mode.visual-mode
// {
//   &, // only keep this if you want to see the cursor on non-focused tabs
//   &.is-focused {
//     &::shadow, // shadow-DOM enabled
//     &          // shadow-DOM disabled
//     {
//       /* cursor color */
//       .cursor {
//         // cursor styles
//         background-color: red;
//         opacity: 0.4;
//       }
//       .blink-off .cursor {
//         // cursor style while blinking (if you so desire)
//       }
//     }
//   }
// }

// atom-text-editor::shadow {
//     .text.plain {
//         font-family: "Nitti"; // Or whatever font it is you want to use
//     }
// }

// atom-workspace {
//     padding-left: 3px;
//     padding-right: 3px;
// }

atom-text-editor {
    // padding-left: 10px;
    padding-right: 24px;
}
